openapi: 3.0.0
info:
  description: |
    Dados Abertos do Sistema Integrado de Administração e Serviços Gerais - SIASG. 

    O SIASG é o sistema onde se operacionaliza as compras do Governo Federal. Essa operacionalização se dá em diversos módulos, contemplando o catálogo de materiais e serviços (CATMAT / CATSER), o cadastramento e divulgação da licitação (SIDEC, Divulgação), as intenções de registros de preços (IRP), o cadastramento dos fornecedores (SICAF), a realização das licitações (Compras governamentais, Sessão Pública, RDC), o resultado das licitações (SISPP, SISRP), os empenhos de pagamentos (SISME) e o registro e gestão dos contratos (SICON). 
  version: "1.0.0"
  title: API de Compras Governamentais
  termsOfService: 'http://api.compras.nuvem.gov.br/docs/home.html'
  contact:
    email: seges.cginf@economia.gov.br
servers:
- url: http://api.compras.nuvem.gov.br
tags:
- name: Compras sem Licitação
- name: Contratos até 2020
- name: Contratos a partir de 2021
- name: Fornecedores
- name: Licitações
- name: Pregões
- name: Materiais
- name: PGC
- name: Serviços
paths:
  /compraSemLicitacao/api-docs/compra_slicitacao:
    get:
      tags:
      - Compras sem Licitação
      summary: Consultar compras sem licitação
      description: Consultar compras sem licitaçãoConsultar compras sem licitaçãoConsultar compras sem licitaçãoConsultar compras sem licitaçãoConsultar compras sem licitação.
      
      responses:
        200:
          description: Ok
          
        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
   
  /compraSemLicitacao/api-docs/compra_slicitacao/item:
    get:
      tags:
      - Compras sem Licitação
      summary: Consultar compras sem licitação por item
      description: Consultar compras sem licitação por item. Consultar compras sem licitação por item. Consultar compras sem licitação por item.
      
      responses:
        200:
          description: Ok
          
        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.         
          
  /contratos/api-docs:
    get:
      tags:
      - Contratos até 2020
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.  
            
  
  /contratos/api-docs/contrato/aditivo:
    get:
      tags:
      - Contratos até 2020
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API. 
  
  /contratos/api-docs/contrato/apostilamento:
    get:
      tags:
      - Contratos até 2020
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API. 
  
  /contratos/api-docs/tipo_contrato:
    get:
      tags:
      - Contratos até 2020
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API. 
  
  /contratos/api-docs/cronograma:
    get:
      tags:
      - Contratos até 2020
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API. 
  
  /contratos/api-docs/contrato/evento:
    get:
      tags:
      - Contratos até 2020
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API. 
  
  /comprasContratos/api-docs/contrato:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API. 
  
  
  /comprasContratos/api-docs/contrato/arquivo:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API. 
  
  /comprasContratos/api-docs/contrato/cronograma:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.   
          
  
  /comprasContratos/api-docs/contrato/despesa_acessoria:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.    
  
  /comprasContratos/api-docs/contrato/empenho:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.    
  
  /comprasContratos/api-docs/contrato/fatura:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /comprasContratos/api-docs/contrato/garantia:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.  
  
  /comprasContratos/api-docs/contrato/historico:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.   
  
  /comprasContratos/api-docs/contrato/item_compras_contratos:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.   
  
  /comprasContratos/api-docs/contrato/preposto:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.    
  
  /comprasContratos/api-docs/contrato/responsavel:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.   
          
  /comprasContratos/api-docs/contrato/terceirizado:
    get:
      tags:
      - Contratos a partir de 2021
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.   
  
  /fornecedores/api-docs/ambito_ocorrencia:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/cnae:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/fornecedor_pf:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/fornecedor_pj:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/linha_fornecimento:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/municipio:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/natureza_juridica:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/ocorrencia_fornecedor:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/porte_empresa:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/prazo_ocorrencia:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
          
  /fornecedores/api-docs/ramo_negocio:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/tipo_ocorrencia:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /fornecedores/api-docs/fornecedores:
    get:
      tags:
      - Fornecedores
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/irp:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/item_irp:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/licitacao:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/item_licitacao:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/modalidade_licitacao:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/orgao:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/preco_praticado:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/item_preco_praticado:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/registro_preco:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/registro_preco_item_fornecedor:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/registro_preco_item_fornecedor_renegociacao:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/item_registro_preco:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/uasg:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /licitacoes/api-docs/rdc:
    get:
      tags:
      - Licitações
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /pregoes/api-docs/pregao:
    get:
      tags:
      - Pregões
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /pregoes/api-docs/pregao_item:
    get:
      tags:
      - Pregões
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /materiais/api-docs/classe:
    get:
      tags:
      - Materiais
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /materiais/api-docs/grupo:
    get:
      tags:
      - Materiais
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /materiais/api-docs/material:
    get:
      tags:
      - Materiais
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /materiais/api-docs/pdm:
    get:
      tags:
      - Materiais
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /pgc/api-docs/pgc:
    get:
      tags:
      - PGC
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /docs/servicos/classe:
    get:
      tags:
      - Serviços
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /docs/servicos/divisao:
    get:
      tags:
      - Serviços
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /docs/servicos/grupo:
    get:
      tags:
      - Serviços
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /docs/servicos/secao:
    get:
      tags:
      - Serviços
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /docs/servicos/servico:
    get:
      tags:
      - Serviços
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
  /docs/servicos/subclasse:
    get:
      tags:
      - Serviços
      summary: Consultar contratos.
      description: Consultar contratos Consultar contratos.
      responses:
        200:
          description: OK
           

        102:
          description: Objeto não encontrado(a).
          
        104:
          description: Não foi possível conectar API.
  
           